nav .main-menu,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav .main-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}

nav .main-menu li {
  cursor: pointer;
  padding: 3px 10px;
  transition: all 0.3s;
  border-bottom: 1px solid #474747;
  margin: 0 10px;
}

nav .main-menu li a {
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
}

nav .main-menu li:hover {
  border-bottom: 1px solid #a3a3a3;
}

nav .main-menu li.active {
  border-bottom: 1px solid #a3a3a3;
}
