<div class="form-container">
  <form [formGroup]="form" class="form-group">
    <div class="form-group-field">
      <div class="form-field">
        <label>First Name*</label>
        <input class="form-control" formControlName="fname" type="text" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.fname">
          <div class="error-message" *ngIf="form.get('fname').hasError(error.type) && (form.get('fname').dirty || form.get('fname').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group-field">
      <div class="form-field">
        <label>Last Name*</label>
        <input class="form-control" formControlName="lname" type="text" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.lname">
          <div class="error-message" *ngIf="form.get('lname').hasError(error.type) && (form.get('lname').dirty || form.get('lname').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group-field">
      <div class="form-field">
        <label>Email Id*</label>
        <input class="form-control" formControlName="email" type="text" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message" *ngIf="form.get('email').hasError(error.type) &&
               (form.get('email').dirty || form.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group-field">
      <div class="form-field">
        <label>Password*</label>
        <input class="form-control" formControlName="password" type="password" />
      </div>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message" *ngIf="form.get('password').hasError(error.type) && (form.get('password').dirty || form.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <button [class.disabled]="!form.valid" [disabled]="!form.valid">Signup</button>
    <button class="button_cancel" type="reset" (click)="onReset()">Cancel</button>
  </form>
</div>
