<h1>Form Validators List</h1>
<div class="list">
  <a routerLink="/form-validators/validator" class="list__link">
    <h2>Validator</h2>
  </a>
  <a routerLink="/form-validators/group-validator" class="list__link">
    <h2>Passwords Confirmation Validator</h2>
  </a>
  <a routerLink="/form-validators/asyncronous-validator" class="list__link disabled">
    <h2>Asyncronous Validator</h2>
  </a>
  <a routerLink="/form-validators/syncronous-validator" class="list__link disabled">
    <h2>Syncronous Validator</h2>
  </a>
</div>
