.container {
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-sample-text {
  margin: auto 0;
}
