<h1>Please make a choice to see an example</h1>
<div class="buttons">
  <a routerLink="/directives/attribute-directive" class="button">
    <h2>Attribute directive</h2>
    <p class="description">
      Here you can see the attribute directive for changing the color by hovering over the text, by clicking on the text and by clicking on the button.
    </p>
  </a>
  <a routerLink="/directives/structural-directive" class="button">
    <h2>Structural directive</h2>
    <p class="description">
      Take a look here to see how the structural directive works.
    </p>
  </a>
</div>
