<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label>First Name*</label>
      <input type="text" formControlName="firstName" [class.is-invalid]="isSubmit && form.controls.firstName.errors" />
    </div>
    <div class="form-field">
      <label>Last Name*</label>
      <input type="text" formControlName="lastName" [class.is-invalid]="isSubmit && form.controls.lastName.errors" reqiured />
    </div>
    <div class="form-field">
      <label>Email*</label>
      <input type="text" formControlName="email" [class.is-invalid]="isSubmit && form.controls.email.errors" />
    </div>
    <div class="form-field">
      <label>Password*</label>
      <input type="password" formControlName="password" [class.is-invalid]="isSubmit && form.controls.password.errors" />
    </div>
    <div class="form-buttons">
      <button class="button">Register</button>
      <button class="button" type="reset" (click)="onReset()">Reset</button>
    </div>
</form>
</div>
