.btn-return {
  position: absolute;
  bottom: 100px;
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #636363;
  color: #636363;
  letter-spacing: 2px;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.btn-return:hover {
  color: #c5c5c5;
}
